* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

.alert {
  max-width: 30%;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.primary {
  background-color: #fff3cd;
  color: #856404;
}

.danger {
  background-color: rgb(255, 210, 218);
  color: black;
}

/* Hover on Tweet Affiliation */

#tweet-affiliation #comment:hover svg,
#tweet-affiliation #share:hover svg {
  stroke: rgb(29, 161, 242);
}
#tweet-affiliation #comment:hover {
  color: rgb(29, 161, 242);
}

#tweet-affiliation #retweet:hover svg {
  stroke: rgb(23, 191, 99);
}
#tweet-affiliation #retweet:hover {
  color: rgb(23, 191, 99);
}

#tweet-affiliation #like:hover svg {
  stroke: rgb(224, 36, 94);
}
#tweet-affiliation #like:hover {
  color: rgb(224, 36, 94);
}
